
<mat-card class="info-card">

  <div class="statistics-wrapper">

    <canvas
      *ngIf="statistics"
      baseChart
      chartType="bar"
      responsive="true"
      [data]="statistics" 
      [labels]="statisticsLabels" 
      [options]="chartOptions"
      [colors]="statisticsColors">
    </canvas>

    <div>
      <strong>Translations</strong>
      <ul>
        <li *ngFor="let idx of items">
          {{idx.locale}} - {{idx.count}}
        </li>
      </ul>
    </div>

  </div>

</mat-card>
