
<h1 mat-dialog-title>{{data.isEdit ? 'Edit' : 'Create'}} Translations</h1>
<div mat-dialog-content>

  <app-selector
    key="locale"
    class="entity-edit-field"
    value="language"
    [model]="data.entity"
    placeholder="Choose a language"
    [getItems]="service.languages.read({limit:-1})">
  </app-selector>

  <mat-form-field
    *ngIf="canEditColumn('id')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="id"
      (change)="changed('id')"
      [(ngModel)]="data.entity.id"
      autocomplete="off">
  </mat-form-field>
 
  <mat-form-field
    *ngIf="canEditColumn('content')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="content"
      (change)="changed('content')"
      [(ngModel)]="data.entity.content"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-raised-button
      color="primary"
      [disabled]="!isValid()"
      (click)="upsert()">Save</button>

    <button
      mat-button
      (click)="close(null)">Cancel</button>

  </div>

</div>
