
<mat-card class="info-card">

  <div class="statistics-wrapper">

    <div class="meta-statistics">
      <canvas
        *ngIf="statistics"
        baseChart
        chartType="bar"
        [data]="statistics" 
        [labels]="statisticsLabels" 
        [options]="chartOptions"
        [colors]="statisticsColors">
      </canvas>
    </div>

    <div class="meta-statistics">
      <ul>
        <li *ngFor="let idx of items">
          <span>
            {{idx.locale}}
          </span>
          <span>
            {{idx.count}}
          </span>
          <span *ngIf="idx.count < max">
            {{max - idx.count}} missing
          </span>
        </li>
      </ul>
    </div>

  </div>
  <div>
    <p>
      Total translation items in your database are {{total}}, and you are
      missing {{totalMissing}} items in all languages combined.
      <span *ngIf="totalFailures > 0">
        There are also {{totalFailures}} translations that seems to be wrong.
      </span>
    </p>
  </div>

</mat-card>
